$grey: slategray;
$darkGrey: #252525;
$offWhite: #fafafa;
$lRed: #ff1810;
$dRed: #6b0000;
$darkYellow: #b5b500;
$darkRed: #b10000;
$darkGreen: #008000;
$darkBlue: #00009a;
$yellow: #ffff00;
$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;