.footer-text {
    @include headerFont {
        padding: 5px;
        color: $lRed;
    }
    text-shadow: 1px 1px 1px $offWhite;
}

.footer-text {
    a:hover,
    a:focus {
        text-decoration: none;
    }
}