.modal-content {
    background-color: $darkGrey;
}

.modal-header-title,
.modal-body-title,
.close,
#modal-btn {
    @include headerFont {
        color: $lRed;
        text-shadow: 1px 1px 1px $offWhite;
    }
}

.close:hover {
    color: $lRed;
}

.modal-body-text {
    font: {
            family: "Orbitron", sans-serif;
            weight: 300;
        }
    color: $lRed;
    letter-spacing: 1px;
}