.nav-container {
    margin-top: 10px;
    padding: 0;
}

.nav-heading {
    margin: 0;
}

.nav-heading {
    a {
        font: {
            family: "Orbitron", sans-serif;
            weight: 700;
        }
        color: $lRed;
        letter-spacing: 2px;
        text-shadow: 2px 2px 1px $offWhite, -2px -2px 1px $offWhite;
    }
    a:hover {
        text-decoration: none;
    }
}